{%- for message in history -%}
{%- if (message.role == 'system' or message.role == 'user') and message.content -%}
<div class="user">
{{ message.role }}> {{ message.content.strip() }}
</div>
{%- elif message.role == 'assistant' -%}
<div class="agent">
assistant ({% if message.mode %}{{ message.mode.value }}{% else %}chat{% endif %})>{%- if message.content %} {{ message.content.strip() }}{% endif %}
{%- if message.tool_calls %}
TOOL_CALLS:
{{ message.tool_calls | prettyjson }}
{%- endif %}
</div>
{%- elif message.role == 'tool' and message.content -%}
<div class="user">
{{ message.role }}> {{ message.content.strip() }}
</div>
{%- endif -%}
{%- endfor -%}
